body{
 background-color: #42445A;
}
#display{
 background-color: #2A37CCE6;
 text-align: center;
 width: 280px;
 height: 40px;
 color: white;
}
form{
 text-align: center;
 margin-top: 100px;
 background-color: white;
 border-radius: 20px;
 padding: 15px;
 font-size: 20px;
}
input{
 font-size: 30px;
 padding: 30px;
 margin-top: 10px;
 margin-left: 1px;
 border-radius: 35px;
 transition: 0.4s ease-in-out;
 justify-content: center;
 font-family: sans-serif;
 font-weight: bold;
 
 background: black;
 color: white;
 border: none;
}
input:hover{
 background: #fff1d7;
 transition: 0.5s;
 color: black;
}
.sidebtn{
 background: rgb(17, 17, 98);
 background: linear-gradient(90deg, rgba(17, 17, 98, 1) 7%, rgba(11, 2, 33, 1) 47%, rgba(76, 11, 46, 0.9863747804061226) 89%, rgba(76, 11, 46, 0.9863747804061226) 91%, rgba(76, 11, 46, 0.9863747804061226) 91%);
}
.sidebtn:hover{
 background: #fff1d7;
 color: black;
 transition: 0.5s;
}
