body{
 background-color: #42445A;
}
#display{
 background-color: #2A37CCE6;
 text-align: center;
 width: 280px;
 height: 40px;
 color: white;
}
form{
 text-align: center;
 margin-top: 100px;
 background-color: white;
 border-radius: 20px;
 padding: 15px;
 font-size: 20px;
}
input{
 font-size: 30px;
 padding: 30px;
 margin-top: 10px;
 border-radius: 30px;
 transition: 0.4s ease-in-out;
 justify-content: center;
 font-family: sans-serif;
 font-weight: bold;
 background: rgb(2, 0, 36);
 background: black;
 color: white;
 border: none;
}
input:hover{
 background-color: red;
 transition: 0.5s;
}
.sidebtn{
 background: rgb(7, 5, 37);
 background: linear-gradient(90deg, rgba(7, 5, 37, 1) 0%, rgba(121, 9, 40, 1) 35%, rgba(140, 70, 164, 1) 100%);
}
